.title {
  display: inline-block;
  padding: 20px;
  background-color: #ededed;
  border-radius: 8px;
  color: #000;
  transition: all 0.2s;
  &:hover {
    background-color: #d8d8d8;
  }
  &--dark {
    background-color: #0a0a0a;
    color: #fff;
    &:hover {
      background-color: #2b2b2b;
    }
  }
  &__title {
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }
}
@media (max-width: 545px) {
  .title {
    padding: 15px 20px;
  }
}
